.main_title {
  position: absolute;
  top: 20%;
  margin: 1rem 1rem 0rem 0rem;
  padding: 1.1rem 2rem;
  font-size: 4.5rem;
}

.hero_section_img {
  object-fit: cover;
  width: 100%;
  height: 30rem;
}

.subtitle {
  padding: 4rem 1rem 3rem 2rem;
  font-size: 2.5rem;
  text-align: left;
  font-family: font_medium;
}

.expo_title {
  padding: 2rem;
}
.expo_text {
  padding: 2rem;
}

#more {
  display: none;
}

.icon_more {
  font-size: 5rem;
  transition: 0.6s;
}

.icon_more:hover {
  color: var(--primary_color);
  opacity: 0.85;
}

.section {
  text-align: center;
}
/* ---- GRID DANS LA CARD ---- */
.expo_card {
  display: grid;
  grid-template-rows: 60% 20% 20%;
  object-fit: cover;
  margin: 2rem 0rem;
  width: 100%;
  height: 30rem;
}

.new_img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* ---- GRID DE LA SECTION ----*/
.section_content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  overflow: hidden;
}

.section_squeezed_instant {
  height: 360px;
}

.section_squeezed {
  height: 360px;
  animation: squeeze 0.4s;
}

.section_expanded {
  height: 680px;
  animation: expand 0.4s;
}

.more_btn {
  cursor: pointer;
}

.perm_img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@keyframes expand {
  from {
    height: 360px;
  }
  to {
    height: 680px;
  }
}

@keyframes squeeze {
  from {
    height: 680px;
  }
  to {
    height: 360px;
  }
}
