.maintitle {
  position: absolute;
  top: 20%;
  margin: 1rem 1rem 0rem 0rem;
  padding: 1.1rem 2rem;
  font-size: 4.5rem;
}

.hero_section_img {
  object-fit: cover;
  width: 100%;
  height: 30rem;
}

.title {
  padding: 4rem 1rem 3rem 2rem;
  font-size: 2.8rem;
  text-align: left;
  font-family: font_medium;
}

.subtitle {
  padding: 3rem 1rem 3rem 2rem;
  font-size: 2.3rem;
  text-align: left;
  font-family: font_medium;
}

.section_infos {
  text-align: center;
  margin: 0rem 0rem 5rem 0rem;
  display: flex;
  flex-direction: column;
}
.container_text {
  padding: 0rem 0rem 3rem 0rem;
}

.section_localisation {
  text-align: center;
  margin: 0rem 0rem 2rem 1rem;
}
.localisation_adress {
  margin: 1rem 2rem;
}

.section_faq {
  padding: 0rem 0rem 3rem 0rem;
}

.card_question {
  padding: 0rem 0rem 1rem 2rem;
}
