/* ---- RESET ---- */
*,
*::before,
*::after {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}

/* ------------------------------------------ */
/* ----------- VARIABLES + IMPORTS ---------- */
/* ------------------------------------------ */

:root {
  font-size: 62.5%;

  --text_color: #ece7d6;
  --primary_color: #e34585;
  --secondary_color: #70c7ed;
  --tertiary_color: #6723b3;

  --background_color: #05030e;
  --background_color_light: #15202f;
}

@font-face {
  font-family: font_medium;
  src: url(/fonts/ITCAvantGardeStdMd.otf);
}
@font-face {
  font-family: font_fine;
  src: url(/fonts/ITCAvantGardeStdBk.otf);
}
@font-face {
  font-family: font_bold;
  src: url(/fonts/ITCAvantGardeStdBold.otf);
}

/* ------------------------------------------ */
/* -------------- GENERAL CSS --------------- */
/* ------------------------------------------ */

body {
  background-color: var(--background_color);
  color: var(--text_color);
  font-family: font_fine;
  font-size: 1.5rem;
}

img {
  max-width: 100%;
}

/* ------------------------------------------ */
/* --------------- KEYFRAMES ---------------- */
/* ------------------------------------------ */

@keyframes expand {
  from {
    height: 360px;
  }
  to {
    height: 680px;
  }
}

@keyframes squeeze {
  from {
    height: 680px;
  }
  to {
    height: 360px;
  }
}

@keyframes desktop_expand {
  from {
    height: 560px;
  }
  to {
    height: 1120px;
  }
}

@keyframes desktop_squeeze {
  from {
    height: 1120px;
  }
  to {
    height: 560px;
  }
}

/* ------------------------------------------ */
/* ------------------ ICONS ----------------- */
/* ------------------------------------------ */

.icon {
  padding: 0rem 2rem;
  font-size: 2.5rem;
  display: flex;
  align-items: center;
}

/* ------------------------------------------ */
/* ----------------- BUTTON ----------------- */
/* ------------------------------------------ */

.button {
  text-decoration: none;
  color: var(--text_color);
  padding: 1.2rem 2rem 1rem 2rem;
  border: 1px solid var(--primary_color);
  border-radius: 2rem;
  transition: 0.6s;
}
.button:hover {
  background-color: var(--primary_color);
  opacity: 0.85;
}

/* ------------------------------------------ */
/* ---------------- HEADER ------------------ */
/* ------------------------------------------ */

.header_hyperlink_logo {
  max-width: 13rem;
}

/* ------------------------------------------ */
/* --------------- NAV BAR ------------------ */
/* ------------------------------------------ */

.topnav {
  background-color: var(--background_color);
  display: flex;
  align-items: center;
  width: 100%;
}
.topnav_link {
  color: var(--text_color);
  padding: 12px;
  text-decoration: none;
  transition: 0.2s;
}
.topnav_link:hover {
  color: var(--primary_color);
}

/* hide responsive menu */
#topnav_hamburger_icon,
#topnav_responsive_menu {
  display: none;
}

@media only screen and (max-width: 768px) {
  /* hide classic menu */
  #topnav_menu {
    display: none;
  }

  /* position home link at left and hamburger at right */
  #home_link {
    flex-grow: 1;
  }

  /* disable horizontal scrolling  */
  #root {
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
  }

  /* show responsive menu and position at the right of the screen */
  #topnav_responsive_menu {
    display: block;
    position: absolute;
    margin: 0;
    right: 0;
    top: 0;
    width: 100vw;
    height: 50vh;

    z-index: 99;

    transform-origin: 0% 0%;
    transform: translate(200%, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }

  #topnav_responsive_menu ul {
    display: flex;
    flex-direction: column;

    position: absolute;
    margin: 0;
    right: 0;
    top: 0;

    width: 100vw;
    height: 100vh;
    padding: 15rem 0rem;

    text-align: center;
    font-size: 2.2rem;

    background: rgba(5, 3, 13, 0.94);
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
  }

  #topnav_responsive_menu li {
    padding: 12px 24px;
  }

  #topnav_responsive_menu a {
    white-space: nowrap;
    color: var(--text_color);
    text-decoration: none;
  }

  /* And let's slide it in from the right */
  #topnav_responsive_menu.open {
    transform: none;
    position: fixed;
  }

  /* ---- HAMBURGER ICON ******************** */
  /* define size and position of the hamburger link */
  #topnav_hamburger_icon {
    display: block;
    position: relative;
    margin: 16px;
    width: 33px;
    height: 28px;

    z-index: 100;

    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
  }

  /* define the style (size, color, position, animation, ...) of the 3 spans */
  #topnav_hamburger_icon span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    margin-bottom: 5px;

    background: var(--text_color);
    border-radius: 3px;

    z-index: 100;

    opacity: 1;
    left: 0;

    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }

  /* set the 3 spans position to look like a hamburger */
  #topnav_hamburger_icon span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    -o-transform-origin: left top;
    transform-origin: left top;
  }
  #topnav_hamburger_icon span:nth-child(2) {
    top: 12px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }
  #topnav_hamburger_icon span:nth-child(3) {
    top: 24px;
    -webkit-transform-origin: left bottom;
    -moz-transform-origin: left bottom;
    -o-transform-origin: left bottom;
    transform-origin: left bottom;
  }

  /* change color when opening the menu */
  #topnav_hamburger_icon.open span {
    background: var(--primary_color);
  }

  /* the first span rotates 45° \ */
  #topnav_hamburger_icon.open span:nth-child(1) {
    width: 110%;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* the second span disappears */
  #topnav_hamburger_icon.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
  }

  /* the last span rotates -45° / */
  #topnav_hamburger_icon.open span:nth-child(3) {
    width: 110%;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}

/* ------------------------------------------ */
/* -------------- HERO SECTION -------------- */
/* ------------------------------------------ */

.main_title {
  background-color: rgba(21, 32, 47, 0.3);
  border-radius: 0px 10px 10px 0px;
  backdrop-filter: blur(3px);
  padding: 4rem;
  font-size: 4rem;
  text-align: center;
  font-family: font_medium;
  position: absolute;
  top: 20%;
  margin: 1rem 1rem 0rem 0rem;
  padding: 2rem 0rem 3rem 0rem;
  padding: 1.1rem 2rem;
  font-size: 4.5rem;
}

.hero_section_img {
  object-fit: cover;
  width: 100%;
  height: 30rem;
}

/* ------------------------------------------ */
/* ----------------- TITLES ----------------- */
/* ------------------------------------------ */

.title {
  padding: 2rem 0rem 2rem 0rem;
  font-size: 3rem;
  text-align: center;
  font-family: font_medium;
}

.subtitle {
  padding: 2rem;
  text-align: center;
  padding: 2rem 1rem 2rem 2rem;
  font-size: 2.3rem;
  font-family: font_medium;
}

/* --------------- MAIN PAGE ---------------- */
/* ------------- ACTUS SECTION -------------- */
/* ------------------------------------------ */

.expos_new {
  font-size: 1.7rem;
  font-family: font_medium;
  background-color: rgba(227, 69, 133, 0.6);
  backdrop-filter: blur(4px);
  border-radius: 20px;
  position: absolute;
  right: 0px;
  margin: 1rem 1rem 0rem 0rem;
  padding: 1.5rem 3rem;
}

.expos_img {
  object-fit: cover;
  width: 100%;
  height: 30rem;
}

.expos_btn_container {
  margin: 3rem 0rem;
  display: flex;
  flex-direction: column;
}

/* ------------------------------------------ */
/* ----------------- ABOUT ------------------ */
/* ------------------------------------------ */

.about {
  margin: 4rem 0rem;
  display: flex;
  flex-direction: column;
}

.text {
  text-align: center;
  padding: 4rem;
  line-height: 3rem;
}

/* ------------------------------------------ */
/* -------------- LOCALISATION -------------- */
/* ------------------------------------------ */

.map {
  width: 400px;
  height: 300px;
}

.localisation {
  margin: 3rem 0rem;
  display: flex;
  flex-direction: column;
}

.localisation_adress {
  text-align: center;
  padding: 1rem 2rem;
}

/* -------------- DISCOVER PAGE ------------- */
/* ------------ EXPOS CATEGORIES ------------ */
/* ------------------------------------------ */

.section {
  text-align: center;
}

.expo_title {
  font-family: font_bold;
  padding: 2rem;
}
.expo_text {
  padding: 2rem;
}

#more {
  display: none;
}

.icon_more {
  font-size: 5rem;
  transition: 0.6s;
}

.icon_more:hover {
  color: var(--primary_color);
  opacity: 0.85;
}
/* ------------------------------------------ */
/* ------------ GRID DE LA CARD ------------- */
/* ------------------------------------------ */
.expo_card {
  display: grid;
  grid-template-rows: 60% 20% 20%;
  object-fit: cover;
  margin: 2rem 0rem;
  width: 100%;
  height: 30rem;
}

.new_img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* ------------------------------------------ */
/* ----------- GRID DE LA SECTION ----------- */
/* ------------------------------------------ */

.section_content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 2rem;
  overflow: hidden;
}

.section_squeezed_instant {
  height: 360px;
}

.section_squeezed {
  height: 360px;
  animation: squeeze 0.4s;
}

.section_expanded {
  height: 680px;
  animation: expand 0.4s;
}

.more_btn {
  cursor: pointer;
}

.perm_img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* ---------------- ABOUT PAGE -------------- */
/* ---------------- A PROPOS  --------------- */
/* ------------------------------------------ */

.section_about {
  margin: 0rem 0rem 5rem 0rem;
  display: flex;
  flex-direction: column;
}
/* ---------------- INFOS PAGE -------------- */
/* ------------ INFOS CATEGORIES ------------ */
/* ------------------------------------------ */

.text_bold {
  font-family: font_bold;
  padding: 0.5rem 0rem;
}
.section_infos {
  text-align: center;
  margin: 0rem 0rem 5rem 0rem;
  display: flex;
  flex-direction: column;
}
.container_text {
  padding: 0rem 0rem 3rem 0rem;
}

.section_localisation {
  text-align: center;
  margin: 0rem 0rem 2rem 1rem;
}
.localisation_adress {
  margin: 0.5rem;
}

.text_name_adress {
  font-size: 1.8rem;
  font-family: font_bold;
  padding: 2.5rem 0rem 0rem 0rem;
}

.text_adress {
  font-size: 1.5rem;
  padding: 0rem 0rem 1rem 0rem;
}

.section_faq {
  padding: 0rem 0rem 3rem 0rem;
}

.card_question {
  overflow: hidden;
  padding: 0rem 2rem 1rem 2rem;
  transition: height 0.4s;
}

.text_question {
  font-family: font_medium;
  padding: 2rem 0rem;
  line-height: 2.5rem;
  font-size: 1.8rem;
  color: var(--primary_color);
}

.text_answer {
  line-height: 2.5rem;
}

.question1_squeezed_instant {
  height: 100px;
}
.question2_squeezed_instant {
  height: 90px;
}
.question3_squeezed_instant {
  height: 65px;
}

.question1_squeezed {
  height: 100px;
}

.question2_squeezed {
  height: 90px;
}

.question3_squeezed {
  height: 65px;
}

.question1_expanded {
  height: 150px;
}

.question2_expanded {
  height: 150px;
}

.question3_expanded {
  height: 150px;
}

.more_question_btn {
  display: block;
  text-align: center;
  cursor: pointer;
}

/* ------------------------------------------ */
/* ------------------------------------------ */
/* ------------------------------------------ */

/* ------------------------------------------ */
/* ------------------ FOOTER ---------------- */
/* ------------------------------------------ */

.sm_title {
  padding: 0rem 0rem 3rem 0rem;
  font-size: 2.5rem;
  text-align: center;
  font-family: font_medium;
}

.footer {
  background-color: var(--background_color_light);
  padding: 3rem;
}

.footer_text {
  font-size: 1.5rem;
  padding: 7rem 0rem 0rem 0rem;
  text-align: center;
}
.footer_subtitle {
  text-align: center;
  font-size: 2.5rem;
  padding: 1rem 0rem;
}

.footer_subtext {
  font-size: 1.5rem;
  padding: 0rem;
}
.form_button {
  padding: 1rem 4rem 3rem 4rem;
}

.form_area input {
  padding: 1rem 4rem;
  border-radius: 5px;
  border: 1px solid var(--text_color);
  background-color: var(--text_color);
}

.footer_hyperlink {
  text-decoration: none;
  color: var(--text_color);
  font-size: 1.4rem;
  padding: 1rem 4rem 3rem 0rem;
  transition: 0.3s;
  display: flex;
  align-items: center;
}
.footer_hyperlink:hover {
  color: var(--primary_color);
}

.social_media {
  padding: 5rem;
  border-radius: 28px;
  display: flex;
  flex-direction: column;
  background-color: rgba(112, 199, 237, 0.1);
}

.container_form {
  display: flex;
  flex-direction: column;
  align-items: last baseline;
}

.container_newsletter {
  padding: 2.5rem;
}

/* ---- BUTTON NEWSLETTER ----*/
.button_newslet {
  background-color: var(--background_color_light);
  text-decoration: none;
  color: var(--text_color);
  padding: 1.2rem 2rem 1rem 2rem;
  margin: 2rem;
  border: 1px solid var(--tertiary_color);
  border-radius: 2rem;
  transition: 0.6s;
  font-size: 1.5rem;
}
.button_newslet:hover {
  background-color: var(--tertiary_color);
  opacity: 0.85;
}

/* --------------------------- MEDIA QUERIES ----------------------- */
/* -------------------------- DESKTOP VERSION ---------------------- */
/* ----------------------------------------------------------------- */
@media (min-width: 768px) {
  /* ------------------------------------------ */
  /* -------------- GENERAL CSS --------------- */
  /* ------------------------------------------ */
  body {
    background-color: var(--background_color);
    color: var(--text_color);
    font-family: font_fine;
    font-size: 2rem;
  }

  img {
    max-width: 100%;
  }

  /* ------------------------------------------ */
  /* ----------------- BUTTON ----------------- */
  /* ------------------------------------------ */

  .button {
    font-size: 2.2rem;
    padding: 1.2rem 3rem 1rem 3rem;
    border-radius: 3rem;
  }
  .button:hover {
    transform: scale(1.1);
  }

  /* ------------------------------------------ */
  /* -------------- HERO SECTION -------------- */
  /* ------------------------------------------ */
  .main_title {
    font-size: 6rem;
  }

  .hero_section_img {
    height: 45rem;
  }

  /* ------------------------------------------ */
  /* ----------------- TITLES ----------------- */
  /* ------------------------------------------ */

  .title {
    padding-top: 5rem;
    font-size: 3.8rem;
  }

  .subtitle {
    font-size: 3rem;
  }

  /* --------------- MAIN PAGE ---------------- */
  /* ------------- ACTUS SECTION -------------- */
  /* ------------------------------------------ */
  .actu_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
  }

  .expos_new {
    font-size: 2rem;
  }

  #sub_new {
    grid-column: 4 / span 1;
  }
  #img_new {
    grid-row-start: 1;
    grid-column: 1 / span 3;
    width: 100%;
    position: relative;
  }

  #sub_perm {
    grid-row: 2;
    grid-column: 1 / span 1;
  }

  #img_perm {
    grid-row-start: 2;
    grid-column: 2 / span 3;
  }

  .expos_img {
    object-fit: cover;
    height: 30rem;
    grid-column-start: 2;
    grid-column-end: 3;
  }

  /* ------------------------------------------ */
  /* ----------------- ABOUT ------------------ */
  /* ------------------------------------------ */

  .section_about {
    padding: 4rem 0rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 4rem auto 4rem auto auto;
    gap: 2rem;
  }

  #about_first_img {
    grid-row: 1 / span 2;
    grid-column: 1 / 2;
  }
  #about_first_title {
    grid-row-start: 1;
    grid-column: 2 / 3;
    width: 100%;
    text-align: left;
    padding-left: 5rem;
  }
  #about_first_text {
    grid-row-start: 2;
    grid-column: 2 / 3;
  }

  #about_second_img {
    grid-row: 3 / span 2;
    grid-column: 2 / 3;
  }
  #about_second_title {
    grid-row-start: 3;
    grid-column: 1 / 2;
    width: 100%;
    text-align: left;
    padding-left: 5rem;
  }
  #about_second_text {
    grid-row-start: 4;
    grid-column: 1 / 2;
  }

  #about_btn {
    margin-top: 8rem;
    grid-row-start: 5;
    grid-column: 1 / span 4;
  }

  .about_img {
    object-fit: cover;
    width: 100%;
    height: 50rem;
  }

  .text {
    font-size: 1.8rem;
    text-align: left;
    padding: 5rem;
    line-height: 3rem;
  }

  .expo_title {
    text-align: left;
  }

  /* ------------------------------------------ */
  /* -------------- LOCALISATION -------------- */
  /* ------------------------------------------ */

  .map {
    width: 700px;
    height: 600px;
  }

  /* -------------- DISCOVER PAGE ------------- */
  /* ------------ EXPOS CATEGORIES ------------ */
  /* ------------------------------------------ */

  .expo_card {
    grid-template-rows: 80% 10% 10%;
    height: 50rem;
  }

  .section_squeezed_instant {
    height: 560px;
  }

  .section_squeezed {
    height: 560px;
    animation: desktop_squeeze 0.4s;
  }

  .section_expanded {
    height: 1120px;
    animation: desktop_expand 0.4s;
  }

  /* ---------------- INFOS PAGE -------------- */
  /* ------------ INFOS CATEGORIES ------------ */
  /* ------------------------------------------ */

  .container_infos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 3rem;
    padding: 3rem;
  }
  .section_infos {
    grid-column-start: 2;
    grid-row-start: 1;
    text-align: center;
    margin: 0rem 0rem 5rem 0rem;
    display: flex;
    flex-direction: column;
  }
  .container_text {
    padding: 0rem 0rem 3rem 0rem;
  }

  .section_localisation {
    grid-column-start: 1;
    grid-row-start: 1;
    text-align: center;
    margin: 0rem 0rem 2rem 1rem;
  }

  .text_name_adress {
    font-size: 2.5rem;
    font-family: font_bold;
    padding: 2.5rem 0rem 0rem 0rem;
  }

  .text_adress {
    font-size: 2rem;
  }

  .section_faq {
    padding: 0rem 0rem 3rem 0rem;
  }

  .card_question {
    padding: 0rem 2rem 1rem 2rem;
  }

  .text_question {
    font-family: font_medium;
    padding: 2rem 0rem;
    line-height: 2.5rem;
    font-size: 2rem;
  }

  .text_answer {
    font-size: 1.8rem;
    line-height: 2rem;
  }

  .question1_squeezed_instant {
    height: 65px;
  }
  .question2_squeezed_instant {
    height: 60px;
  }
  .question3_squeezed_instant {
    height: 60px;
  }

  .question1_squeezed {
    height: 65px;
  }

  .question2_squeezed {
    height: 60px;
  }

  .question3_squeezed {
    height: 60px;
  }

  .question1_expanded {
    height: 120px;
  }

  .question2_expanded {
    height: 120px;
  }

  .question3_expanded {
    height: 120px;
  }

  /* ------------------------------------------ */
  /* ------------------ FOOTER ---------------- */
  /* ------------------------------------------ */

  .sm_title {
    font-size: 2.8rem;
  }

  .footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr auto;
  }

  .footer_text {
    font-size: 1.8rem;
    grid-column: 1 / span 2;
  }
  .footer_subtitle {
    font-size: 2.5rem;
    padding-top: 55px;
  }

  .footer_subtext {
    font-size: 1.6rem;
    padding: 0rem;
    padding-top: 1rem;
  }

  .container_form {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .footer_hyperlink {
    font-size: 1.6rem;
  }

  .footer_checktext {
    font-size: 1.6rem;
  }

  .form_button {
    padding: 0rem;
  }

  /* ---- BUTTON NEWSLETTER ----*/
  .button_newslet {
    font-size: 2rem;
  }
  .button_newslet:hover {
    transform: scale(1.1);
  }
}
