/* ---- RESET ---- */
*,
*::before,
*::after {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}

/* -- GENERAL CSS CONTENT -- */

body {
  background-color: var(--background_color);
  color: var(--text_color);
  font-family: font_fine;
  font-size: 1.5rem;
}

img {
  max-width: 100%;
}

/* ---- HERO SECTION ---- */

.main_title {
  position: absolute;
  top: 20%;
  margin: 1rem 1rem 0rem 0rem;
  padding: 2rem 0rem 3rem 0rem;
  padding: 1.1rem 2rem;
  font-size: 4.5rem;
}

.hero_section_img {
  object-fit: cover;
  width: 100%;
  height: 30rem;
}

.icon {
  padding: 0rem 2rem;
  font-size: 2.5rem;
  display: flex;
  align-items: center;
}

/* ---- BUTTON ----*/
.button {
  text-decoration: none;
  color: var(--text_color);
  padding: 1.2rem 2rem 1rem 2rem;
  border: 1px solid var(--primary_color);
  border-radius: 2rem;
  transition: 0.6s;
}
.button:hover {
  background-color: var(--primary_color);
  opacity: 0.85;
}

/* ---- HEADER ----*/

.header_hyperlink_logo {
  max-width: 13rem;
}
/* ---- NAV BAR ******************** */
.topnav {
  background-color: var(--background_color);
  display: flex;
  align-items: center;
  width: 100%;
}
.topnav_link {
  color: var(--text_color);
  padding: 12px;
  text-decoration: none;
  transition: 0.2s;
}
.topnav_link:hover {
  color: var(--primary_color);
}

/* hide responsive menu */
#topnav_hamburger_icon,
#topnav_responsive_menu {
  display: none;
}

@media only screen and (max-width: 768px) {
  /* hide classic menu */
  #topnav_menu {
    display: none;
  }

  /* position home link at left and hamburger at right */
  #home_link {
    flex-grow: 1;
  }

  /* disable horizontal scrolling  */
  #root {
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
  }

  /* show responsive menu and position at the right of the screen */
  #topnav_responsive_menu {
    display: block;
    position: absolute;
    margin: 0;
    right: 0;
    top: 0;
    width: 100vw;
    height: 50vh;

    z-index: 99;

    transform-origin: 0% 0%;
    transform: translate(200%, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }

  #topnav_responsive_menu ul {
    display: flex;
    flex-direction: column;

    position: absolute;
    margin: 0;
    right: 0;
    top: 0;

    width: 100vw;
    height: 100vh;
    padding: 15rem 0rem;

    text-align: center;
    font-size: 2.2rem;

    background: rgba(5, 3, 13, 0.94);
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
  }

  #topnav_responsive_menu li {
    padding: 12px 24px;
  }

  #topnav_responsive_menu a {
    white-space: nowrap;
    color: var(--text_color);
    text-decoration: none;
  }

  /* And let's slide it in from the right */
  #topnav_responsive_menu.open {
    transform: none;
    position: fixed;
  }

  /* ---- HAMBURGER ICON ******************** */
  /* define size and position of the hamburger link */
  #topnav_hamburger_icon {
    display: block;
    position: relative;
    margin: 16px;
    width: 33px;
    height: 28px;

    z-index: 100;

    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
  }

  /* define the style (size, color, position, animation, ...) of the 3 spans */
  #topnav_hamburger_icon span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    margin-bottom: 5px;

    background: var(--text_color);
    border-radius: 3px;

    z-index: 100;

    opacity: 1;
    left: 0;

    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }

  /* set the 3 spans position to look like a hamburger */
  #topnav_hamburger_icon span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    -o-transform-origin: left top;
    transform-origin: left top;
  }
  #topnav_hamburger_icon span:nth-child(2) {
    top: 12px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }
  #topnav_hamburger_icon span:nth-child(3) {
    top: 24px;
    -webkit-transform-origin: left bottom;
    -moz-transform-origin: left bottom;
    -o-transform-origin: left bottom;
    transform-origin: left bottom;
  }

  /* change color when opening the menu */
  #topnav_hamburger_icon.open span {
    background: var(--primary_color);
  }

  /* the first span rotates 45° \ */
  #topnav_hamburger_icon.open span:nth-child(1) {
    width: 110%;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* the second span disappears */
  #topnav_hamburger_icon.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
  }

  /* the last span rotates -45° / */
  #topnav_hamburger_icon.open span:nth-child(3) {
    width: 110%;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}

/* ---- FOOTER ----*/
.footer {
  background-color: var(--background_color_light);
  padding: 3rem;
  display: flex;
  flex-direction: column;
}

.footer_text {
  font-size: 1.5rem;
  padding: 7rem 0rem 0rem 0rem;
}
.footer_subtitle {
  text-align: center;
  font-size: 2.5rem;
  padding: 3rem 0rem;
}

.footer_subtext {
  font-size: 1.5rem;
  padding: 0rem 0rem 2rem 0rem;
}
.form_button {
  display: flex;
  flex-direction: column;
  padding: 3rem 0rem;
}
.form_area {
  margin: 1rem 10rem;
  display: flex;
  flex-direction: column;
}

.form_area input {
  padding: 1rem;
  margin: 0.6rem 0rem;
  border-radius: 5px;
  border: 1px solid var(--text_color);
  background-color: var(--text_color);
}

.footer_hyperlink {
  text-decoration: none;
  color: var(--text_color);
  font-size: 1.4rem;
  padding: 1rem 4rem 3rem 0rem;
  transition: 0.3s;
  display: flex;
  align-items: center;
}
.footer_hyperlink:hover {
  color: var(--primary_color);
}

.social_media {
  padding: 5rem;
  border-radius: 28px;
  display: flex;
  flex-direction: column;
  background-color: rgba(112, 199, 237, 0.1);
}

.footer_checktext {
  font-size: 1.3rem;
  padding: 0rem 0rem 4rem 0rem;
}

.checkbox {
  margin: 1rem;
}

/* ---- BUTTON NEWSLETTER ----*/
.button_newslet {
  background-color: var(--background_color_light);
  text-decoration: none;
  color: var(--text_color);
  padding: 1.2rem 2rem 1rem 2rem;
  border: 1px solid var(--tertiary_color);
  border-radius: 2rem;
  transition: 0.6s;
  font-size: 1.5rem;
}
.button_newslet:hover {
  background-color: var(--tertiary_color);
  opacity: 0.85;
}
